<!-- Mision - Vision -->
<section id="conocenosidd">
  <div class="whitespace"></div>
  <div class="container-fluid row aboutt">
    <div class="about-container col-md-6 hiddenn textoabout" [class.show]="isElementVisible">
      <h2 class="about-title" *ngIf="datacoworkrh">{{datacoworkrh.conocenos.titulomisionvision}}</h2>
      <p class="about-text" *ngIf="datacoworkrh">{{datacoworkrh.conocenos.descripcion2}}</p>
      <p class="about-text" *ngIf="datacoworkrh">{{datacoworkrh.conocenos.descripcion3}}</p>
    </div>
    <div class="space-container2 col-md-6">

    </div>
  </div>
</section>
