<!-- Revisar CV -->
<section id="revisarcvid">
  <div class="whitespace"></div>
  <div class="container-fluid revisarcv">
    <div class="space-container">

    </div>
    <div class="revisacontainer">
      <h2 class="about-title" *ngIf="datacoworkrh">{{datacoworkrh.servicios.titulo_boton3}}</h2>
      <p class="about-text" *ngIf="datacoworkrh">{{datacoworkrh.servicios.descripcion3}}</p>
      <br>
      <div class="revisar-btn d-flex justify-content-center">
        <!-- Button trigger modal Revisar CV GRATIS-->
        
        <a type="button" class="btn btn-light border-secondary-subtle btn-revisar" routerLink="">Volver</a>
        <a type="button" class="btn btn-success btn-revisar" *ngIf="datacoworkrh" [href]="datacoworkrh.servicios.email3">Solicitar Servcicio</a>
        
      </div>

    </div>
  </div>
</section>

